In [31]:
import pandas as pd

from IPython.display import display_html
def display_side_by_side(*args):
    html_str=''
    for df in args:
        html_str+=df.to_html()
    display_html(html_str.replace('table','table style="display:inline"'),raw=True)

## Load Data (speed 250) from json files

In [55]:
lane1_position_updates = pd.read_json(path_or_buf='lane1_speed250_position_updates.json', orient='records')
lane2_position_updates = pandas.read_json('lane2_speed250_position_updates.json', orient='records')
lane3_position_updates = pandas.read_json('lane3_speed250_position_updates.json', orient='records')
lane1_transition_updates = pandas.read_json('lane1_speed250_transition_updates.json', orient='records')
lane2_transition_updates = pandas.read_json('lane2_speed250_transition_updates.json', orient='records')
lane3_transition_updates = pandas.read_json('lane3_speed250_transition_updates.json', orient='records')
lane4_transition_updates = pandas.read_json('lane4_speed250_transition_updates.json', orient='records')

In [40]:
display_side_by_side(lane1_position_updates[["car_no", "offset", "real_piece_id", "piece_location"]], 
                     lane2_position_updates[["car_no", "offset", "real_piece_id", "piece_location"]],
                     lane3_position_updates[["car_no", "offset", "real_piece_id", "piece_location"]])

,car_no,offset,real_piece_id,piece_location
0,2,79.916,17,2
1,2,79.916,18,3
2,2,79.916,40,42
3,2,79.916,40,43
4,2,79.916,40,44
5,2,79.916,18,3
6,2,79.916,18,2
7,2,79.916,39,42
8,2,79.916,39,43
9,2,79.916,39,44
10,2,79.916,17,3
11,2,79.916,18,3
12,2,79.916,40,42
13,2,79.916,40,43
14,2,79.916,40,44
15,2,79.916,18,3
16,2,79.916,18,2
17,2,79.916,39,42
18,2,79.916,39,43
19,2,79.916,39,44
,car_no,offset,real_piece_id,piece_location
0,2,-23,17,11
1,2,-23,17,10
2,2,-23,18,11
3,2,-23,18,10
4,2,-23,40,30
5,2,-23,40,31
6,2,-23,40,32
7,2,-23,18,11
8,2,-23,18,10
9,2,-23,23,11
10,2,-23,23,10
11,2,-23,39,30
12,2,-23,39,31
13,2,-23,39,32
14,2,-23,17,11
15,2,-23,17,10
16,2,-23,18,11
17,2,-23,18,10
18,2,-23,40,30
19,2,-23,40,31
20,2,-23,40,32
21,2,-23,18,11
22,2,-23,18,10
23,2,-23,23,11
24,2,-23,23,10
25,2,-23,39,30
26,2,-23,39,31
27,2,-23,39,32
,car_no,offset,real_piece_id,piece_location
0,2,-23,17,22
1,2,-23,17,21
2,2,-23,17,20
3,2,-23,18,22
4,2,-23,18,21
5,2,-23,18,20
6,2,-23,40,15
7,2,-23,40,16
8,2,-23,40,17
9,2,-23,18,22
10,2,-23,18,21
11,2,-23,18,20
12,2,-23,23,22
13,2,-23,23,21
14,2,-23,23,20
15,2,-23,39,15
16,2,-23,39,16
17,2,-23,39,17
18,2,-23,17,22
19,2,-23,17,21
20,2,-23,17,20
21,2,-23,18,22
22,2,-23,18,21
23,2,-23,18,20
24,2,-23,40,15
25,2,-23,40,16
26,2,-23,40,17
27,2,-23,18,22
28,2,-23,18,21
29,2,-23,18,20
30,2,-23,23,22
31,2,-23,23,21
32,2,-23,23,20
33,2,-23,39,15
34,2,-23,39,16
35,2,-23,39,17

## Load data (speed 750) from json

In [52]:
lane1_position_updates_750 = pd.read_json(path_or_buf='lane1_speed750_position_updates.json', orient='records')
lane2_position_updates_750 = pandas.read_json('lane2_speed750_position_updates.json', orient='records')
lane3_position_updates_750 = pandas.read_json('lane3_speed750_position_updates.json', orient='records')
lane4_position_updates_750 = pandas.read_json('lane4_speed750_position_updates.json', orient='records')

In [56]:
display_side_by_side(lane1_position_updates_750[["car_no", "offset", "real_piece_id", "piece_location"]], 
                     lane2_position_updates_750[["car_no", "offset", "real_piece_id", "piece_location"]],
                     lane3_position_updates_750[["car_no", "offset", "real_piece_id", "piece_location"]],
                     lane4_position_updates_750[["car_no", "offset", "real_piece_id", "piece_location"]])

,car_no,offset,real_piece_id,piece_location
0,2,-23,40,45
1,2,-23,40,46
2,2,-23,40,47
3,2,-23,39,46
4,2,-23,39,47
5,2,-23,40,46
6,2,-23,40,47
7,2,-23,39,46
8,2,-23,39,47
,car_no,offset,real_piece_id,piece_location
0,2,-23,40,30
1,2,-23,40,31
2,2,-23,40,32
3,2,-23,39,30
4,2,-23,39,31
5,2,-23,39,32
6,2,-23,40,31
7,2,-23,40,32
8,2,-23,39,33
9,2,-23,39,34
10,2,-23,39,35
,car_no,offset,real_piece_id,piece_location
0,2,-23,17,20
1,2,-23,40,16
2,2,-23,40,17
3,2,-23,39,15
4,2,-23,39,16
5,2,-23,39,17
6,2,-23,18,20
7,2,-23,40,15
8,2,-23,40,16
9,2,-23,40,17
10,2,-23,39,15
11,2,-23,39,16
12,2,-23,39,17
,car_no,offset,real_piece_id,piece_location
0,2,-63.340004,17,32
1,2,-63.340004,18,32
2,2,-63.340004,40,3
3,2,-63.340004,40,4
4,2,-63.340004,40,5
5,2,-63.340004,39,4
6,2,-63.340004,39,5
7,2,-63.340004,17,32
8,2,-63.340004,18,32
9,2,-63.340004,40,3
10,2,-63.340004,40,4
11,2,-63.340004,40,5
12,2,-63.340004,39,3
13,2,-63.340004,39,4